@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");
.drum-machine {
  width: 660px;
  outline: 5px solid #F4EEE0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  font-family: "Russo One", sans-serif;
  background-color: #6D5D6E;
  display: flex;
}
.drum-machine__pad {
  width: 332px;
  height: 272px;
  display: inline-block;
  margin: 20px;
  text-align: center;
}
.drum-machine__pad__button {
  background-color: #4F4557;
  margin-top: 10px;
  box-shadow: black 3px 3px 5px;
  position: relative;
  width: 100px;
  height: 80px;
  margin-right: 10px;
  border-radius: 5px;
  padding-top: 35px;
  cursor: pointer;
}
.drum-machine__logo {
  width: 70px;
  position: absolute;
  right: 5px;
  top: 10px;
}
.drum-machine__control {
  width: 240px;
  height: 272px;
  display: inline-block;
  margin: 60px 20px 0 10px;
  vertical-align: top;
}
.drum-machine__control__power {
  margin: auto;
  border: 1px solid black;
  width: 50px;
  height: 22px;
  padding: 1px;
  background-color: black;
}
.drum-machine__control__power__turn {
  width: 23px;
  height: 19px;
  background: blue;
  border: 1px solid black;
  cursor: pointer;
}
.drum-machine__control__display {
  width: 200px;
  background-color: #4F4557;
  margin: 15px auto;
  padding: 15px;
  box-sizing: border-box;
}
.drum-machine__control__volume {
  margin: auto;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 20px;
}
.drum-machine__control__volume__target {
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: -20px;
  height: 12px;
  border-radius: 40px;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
  box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.5);
  height: 5px;
  background-color: black;
  width: 100%;
}
.drum-machine__control__volume__target .drum-machine__control__volume__target::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 8px;
  height: 24px;
  background-color: #4F4557;
  box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.5);
}
.drum-machine__control__bank {
  margin: auto;
  border: 1px solid black;
  width: 50px;
  height: 22px;
  padding: 1px;
  background-color: black;
}
.drum-machine__control__bank__turn {
  width: 23px;
  height: 19px;
  background: blue;
  border: 1px solid black;
  cursor: pointer;
}

@media screen and (max-width: 790px) {
  .drum-machine {
    display: block;
    width: -moz-fit-content;
    width: fit-content;
  }
  .drum-machine__control {
    display: block;
    margin: auto;
    margin-bottom: -50px;
  }
}
@media screen and (max-width: 390px) {
  .drum-machine {
    width: 90%;
  }
  .drum-machine__pad {
    width: 90%;
    max-width: 332px;
    height: -moz-fit-content;
    height: fit-content;
    display: block;
    margin: 20px;
    text-align: center;
  }
  .drum-machine__pad__button {
    width: 60px;
    height: 60px;
    padding-top: 25px;
  }
}
.left {
  float: left;
}

.right {
  float: right;
}

.center {
  text-align: center;
}/*# sourceMappingURL=drum-machine.css.map */